body
{background-image: url("bc1.jpg");
 background-size: cover;
 color:white;
  font-style: bold;
 }
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: yellow;
}

/* selected link */
a:active {
    color: blue;
}
